* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.panel1 {
  background-image: url("images/img1.jpg");
}
.panel2 {
  background-image: url("images/img2.jpg");
}
.panel3 {
  background-image: url("images/img3.jpg");
}
.panel4 {
  background-image: url("images/img4.jpg");
}
.panel5 {
  background-image: url("images/img%.jpg");
}
